.wrapper {
  color: black;
}

.card {
  display: flex;
  width: 100%;
  margin: .2rem;
  padding: .3rem 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea;
  border-radius: 6px; */
}

.card div h2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 3px 0 8px;
  padding: 0;
}

.card div h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 3px 0 8px;
  padding: 0;
}

.card div p {
  font-size: 1rem;
  font-weight: 300;
  margin: 3px 0 8px;
  padding: 0;
}

.logo {
  height: 70px;
  width: 70px;
  max-width: 70px;
  margin-top: 8px;
  margin-bottom: 6px;
  margin-right: 20px;
  opacity: .9;
}

@media (max-width: 600px) {
  .card {
    width: 86%;
    margin: .2rem;
    padding: .3rem 1rem;
  }
  
  .card div h2 {
    font-size: .7rem;
    font-weight: 700;
    margin: 3px 0 8px;
    padding: 0;
  }
  
  .card div h3 {
    font-size: .7rem;
    font-weight: 500;
    margin: 3px 0 8px;
    padding: 0;
  }
  
  .card div p {
    font-size: .7rem;
    font-weight: 300;
    margin: 3px 0 8px;
    padding: 0;
  }

  .logo {
    height: 40px;
    width: 40px;
    max-width: 40px;
    margin-top: 8px;
    margin-bottom: 6px;
    margin-right: 20px;
    opacity: .9;
  }
}
