.row {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:baseline;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 50px 0 0 5vw;
  padding: 1vh 8vw;
}
.row p {
  margin: 14px 0 0;
  padding: 0;
  line-height: 1.1rem;
  font-size: 1rem;
  text-align: justify;
}
.row a {
  margin: 14px 0 0;
  padding: 0;
  line-height: 1rem;
  font-size: .9rem;
  text-align: justify;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .row {
    width: 400px;
    margin: 5px 0 0;
  }  
  .row p {
    margin: 14px 0 0;
    padding: 0;
    line-height: 1rem;
    font-size: .9rem;
  }
  .row a {
    margin: 14px 0 0;
    padding: 0;
    line-height: .9rem;
    font-size: .8rem;
  }
}
