.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 3rem 0;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  padding: 30px 0 0;
  text-align: center;
  /* font-size: .9rem;
  font-weight: 600; */
  font-size: clamp(.4em, .6em + 1vw, 1.4em);
}

.midias {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.midias a {
  font-size: .9rem;
  font-weight: 600;
  display: flex;
  padding: 0 6px;
}
.midias a:hover {
  color: darkred;
}

.footer {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer img {
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer a {
  font-size: .9rem;
  font-weight: 600;
  display: flex;
  padding: 0 6px;
}
.footer a:hover {
  color: darkred;
}

.title a {
  color: darkred;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  color: darkred;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.code h1 {
  margin-top: 5vh;
  display: block;
  font-size: 1.2rem;
}
.code h2 {
  margin-top: 2vh;
  display: none;
  font-size: 1.2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 0;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  background:  rgba(253, 188, 188, 0.138);
  border-color: rgba(78, 1, 1, 0.467);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
}

.logo1 {
  width: 4vw;
  min-width: 35px;
  max-width: 60px;
}

.logo2 {
  margin-top: 1vh;
  width: 20vw;
  min-width: 160px;
  max-width: 220px;
}

.logo3 {
  width: 6vw;
  max-width: 70px;
  margin-top: 26px;
  margin-bottom: 6px;
  opacity: .9;
}

@media (max-width: 600px) {
  .container {
    padding: 0 1.6rem 0 .4rem;
  }
  
  .main {
    padding: 2rem 0 0;
  }

  .midias a {
    font-size: .7rem;
  }

  .footer a {
    font-size: .7rem;
  }

  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: .5rem;
  }  
  .code h1 {
    display: none;
  }
  .code h2 {
    display:block;
    font-size: .9rem;
    margin: 1rem 0 0;
  }

  .card {
    margin: 0 0 1.4rem;
    padding: 0 1.2rem;
    text-align: center;
    border: none;
  }
  .card h3 {
    margin: 0 0 .5rem;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .card p {
    margin: 0;
    padding: 0;
    font-size: 1.05rem;
    line-height: 1.4;
  }

  .logo1 {
    width: 9vw;
  }
  
  .logo2 {
    width: 44vw;
  }

  .logo3 {
    width: 12vw;
    margin-top: 26px;
    margin-bottom: 6px;
  }
}
