.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 840px;
  margin-top: 2rem;
}

@media (max-width: 600px) {  
  .grid {
    margin-top: .5rem;
  }
}