.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  max-height: 65vh;
  margin: 0 0 3vh;
  overflow-y: scroll; 
  border: 1px solid #c1c1c1;
}

@media (max-width: 600px) {
  .row {
    width: 80%;
    margin: 1vh 4vw 2vh 0;
  }  
}
