.row {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content:baseline;
  flex-wrap: wrap;
  max-width: 90vw;
  margin: 50px 0 0 5vw;
  padding: 0;
}
.row p {
  margin: 14px 0 0;
  padding: 0;
}

@media (max-width: 600px) {
  .row {
    width: 400px;
    margin: 5px 0 0;
  }  
}
